{%load i18n%}
{% csrf_token %}
{% if form.forms %}
    {{ form.management_form }}
    {% for fs in form.forms %}
        {% with fs as form %}
            {% include "formwizard/form.html" %}
        {% endwith %}
    {% endfor %}
{% else %}
    {% include "formwizard/form.html" %}
{% endif %}

{% if form_prev_step %}
<button class="span-3" name="form_prev_step" value="{{ form_prev_step }}">{% trans "back" %}</button>
{% endif %}
<div class="prepend-21">
<button class="span-3 last" type="submit" name="submit" />{% trans "next step" %}</button>
</div>