{% csrf_token %}
{% if form.forms %}
    {{ form.management_form }}
    {% for fs in form.forms %}
        {% with fs as form %}
            {% include "formwizard/form.html" %}
        {% endwith %}
    {% endfor %}
{% else %}
    {% include "formwizard/form.html" %}
{% endif %}

<p>
    {% if form_prev_step %}
        <button name="form_prev_step" value="{{ form_first_step }}">
            Return to start</button>
        <button name="form_prev_step" value="{{ form_prev_step }}">
            One step back</button>
    {% endif %}
    <input type="submit" name="submit" value="Submit" />
</p>