{% load i18n %}
{% csrf_token %}

{% for field in form %}
    <div class="fieldWrapper">
        {% if field.errors %}
            <p>{{ field.errors }}</p>
        {% endif %} 
        <p>{{ field.help_text }}<br/>
        {{ field }}</p>
    </div>
{% endfor %}

{% if form_prev_step %}
<button class="span-3" name="form_prev_step" value="{{ form_prev_step }}">{% trans "back" %}</button>
{% endif %}
<div class="prepend-21">
<button class="span-3 last" type="submit" name="submit" />{% trans "submit" %}</button>
</div>