{% extends "base.html" %}

{% block heading %}{{ object.project }}{% endblock %}

{% block activities %}
    <a class="button" href="{% url builds_delete object.pk %}">Delete</a>
{% endblock %}

{% block content %}

    <h2 class="{{object.state_css_class}}">
        {{ object.short_revision }} on {{ object.node.name }} {{ object.state}}
    </h2>
    <dl>
        <df>Project</df>
        <dd>
            <a href="{% url projects_detail object.project.pk %}">
                {{ object.project }}
            </a>
        </dd>
        <df>Revision</df><dd>{{ object.revision }}</dd>
        <df>Node</df><dd>{{ object.node }}</dd>
        <df>Started</df><dd>{{ object.started }}</dd>
        <df>Finished</df><dd>{{ object.finished }}</dd>
    </dl>
    <hr>
    <h2>Steps</h2>
    {% for step in object.build_steps %}
        <div class="span-2 {{ step.state_css_class }}-box">
             {% if step.successful %}success{% else %}fail{% endif %}
        </div>
        <div class="span-22 last">
        <h3>{{ step.name }}</h3>
        </div>         
        <div class="prepend-2 append-bottom span-22">
        {% if step.exception_message %}
        <h4>Exception</h4>
        <pre>{{ step.exception_message }}</pre>
        {% endif %}
        {% if step.stdout %}
        <h4>stdout</h4>
        <pre>{{ step.stdout }}</pre>
        {% endif %}
        {% if step.stderr %}
        <h4>stderr</h4>
        <pre>{{ step.stderr }}</pre>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}