<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Journeyman</title>

<link rel="stylesheet" href="{{MEDIA_URL}}css/main.css" type="text/css" />
<link rel="stylesheet" href="{{MEDIA_URL}}blueprint/screen.css" type="text/css" />
<link rel="stylesheet" href="{{MEDIA_URL}}blueprint/plugins/buttons/screen.css" type="text/css" />

<!--[if IE]>
<link rel="stylesheet" href="{{MEDIA_URL}}blueprint/ie.css" type="text/css" />
<![endif]-->
</head>

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.resize.js"></script>

<script type="text/javascript">
$(document).ready(function() {
     $('textarea').autoResize({}).trigger('change');
});
</script>

<body id="index" class="home">
<div class="container">    
    <div id="header" class="span-24 last">
    <h6>Journeyman ></h6>
    <hr/>
    </div>
    <div id="content" class="span-24 last">
    {% block content %}
    Content
    {% endblock %}
    </div>
</div>
</body>
</html>
