body {
    font-family: "Garamond", "Hoefler Text", "Times New Roman", "Times", serif !important; 
}

p {
    font-size: 150% !important;
}

h1, h2, h3 {
    font-family: "Century Gothic", "Apple Gothic", sans-serif !important; 
}

textarea, input {
    width: 100% !important;
    font-size: 150% !important;
}

textarea {
    font-size: 150% !important;
}