body {
    font-family: "Garamond", "Hoefler Text", "Times New Roman", "Times", serif !important; 
}

p, ul {
    font-size: 150% !important;
}

h1 {
    text-shadow: 0px 1px 0px #fff, 0px 2px 5px #999; 
}

h1, h2, h3, h4, h5 {
    font-family: "Century Gothic", "Apple Gothic", sans-serif !important; 
}

input:not([type=checkbox]) {
    margin-top: 0px !important;
    width: 100% !important;
    font-size: 150% !important;
}

textarea {
    margin-top: 0px !important;
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

textarea {
    font-size: 150% !important;
}

.unknown    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.unknown-box, .unknown    { background: #ddd; color: #333; border-color: #999; }
.unknown-box a, .unknown a  { color: #000; }


.error-box,
.notice-box,
.success-box   { 
    font-family: "Century Gothic", "Apple Gothic", sans-serif !important;  
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0, 0.3);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0, 0.3);
    text-indent: 4px;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.error-box      {background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice-box     {background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success-box    {background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error-box a    { color: #8a1f11; }
.notice-box a   { color: #514721; }
.success-box a  { color: #264409; }

form p {
    margin-bottom: 10px;
}

form ul {
    margin-bottom: 0px;
}