{% extends "base.html" %}

{% block heading %}
It's config time!
{% endblock %}


{% block content %}
    <p> Now that you have told me about your build process, 
        please copy the following text into a file named "config" into a
        directory of your choice. </p>

    <pre>
        {{extra_context.config_file}}
    </pre>

    <p> Don't forget to push that file to your repository, it contains all 
        the information necessary to build your project </p>

    <form action="." method="post">
        {% include "formwizard/wizard.html" %}
    </form>
{% endblock %}