{% extends "base.html" %}
{% load pagination_tags %}

{% block heading %}{{ object.name }}{% endblock %}

{% block activities %}
    <a class="button" href="{% url builds_create object.pk %}">Start new build</a>
    <a class="button" href="{% url projects_edit object.pk %}">Configure</a>
    <a class="button" href="{% url projects_delete object.pk %}" onclick="if(!confirm('Are you sure?')){return false;}">Delete</a>
{% endblock %}

{% block content %}
<div class="span-24">
    <div class="span-6">
    <dl>
        <dt>Repository</dt><dd> {{ object.repository }}</dd>
        <dt>Last build</dt><dd>
            {% if object.last_build %}
            <a href="{% url builds_detail object.last_build.pk %}">
                {{ object.last_build.finished|timesince }} ago
            </a>
            {% else %}
                no build available
            {% endif %}
        </dd>
        <dt>Last stable build</dt><dd>
            {% if object.last_stable_build %}
            <a href="{% url builds_detail object.last_stable_build.pk %}">
                {{ object.last_stable_build.finished|timesince }} ago
            </a>
            {% else %}
                no stable build so far
            {% endif %}
        </dd>
    </ul>
    <hr>
    <h3>Queued builds</h3>
    <table>
        <thead>
            <th>Build</th>
            <th>Node</th>
        </thead>
        {% for build in outstanding_build_list %}
        <tr>
            <td><a href="{% url builds_detail build.pk %}">
                Build {{ build.pk }}</a></td>
            <td>{{ build.node }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">
                No builds queued at the moment.
                <a class="button" href="{% url builds_create object.pk %}">Start new build</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <div class="span-18 last">
    <h2>Finished and running builds</h2>
    <table>
        <thead>
            <th>Build</th>
            <!--><th>Started</th>-->
            <th>Finished</th>
            <th>Node</th>
            <th>Result</th>
        </thead>
        {% autopaginate build_list %}
        {% for build in build_list %}
        <tr>
            <td>
                <a href="{% url builds_detail build.pk %}">
                {{ build.node.name }}/{{ build.started }}/{{ build.state }}
                </a>
            </td>
            <!--><td>{{ build.started }}</td>-->
            <td>
                {%if build.finished %}
                    {{ build.finished|timesince }} ago
                {% endif %}
            </td>
            <td>{{ build.node }}</td>
            <td class="{{ build.state_css_class }}-box">{{ build.state }}</td>
        </tr>
        {% endfor %}
    </table>
    {% paginate %}
    </div>
    

{% endblock %}