{% extends "base.html" %}

{% block heading %}{{ object.name }}{% endblock %}
{% block activities %}
<a class="button" href="{% url builds_create object.pk %}">Start new build</a>
<a class="button" href="{% url projects_edit object.pk %}">Configure</a>
<a class="button" href="{% url projects_delete object.pk %}">Delete</a>
{% endblock %}

{% load pagination_tags %}
{% block content %}
    <ul>
        <li><em>Repository</em>: {{ object.repository }}</li>
        <li><em>Last build</em>:
            {% if object.last_build %}
            <a href="{% url builds_detail object.last_build.pk %}">
                {{ object.last_build.started }}
            </a>
            {% else %}
                no build available
            {% endif %}
        </li>
        <li><em>Last stable build</em>:
            {% if object.last_stable_build %}
            <a href="{% url builds_detail object.last_stable_build.pk %}">
                {{ object.last_stable_build.started }}
            </a>
            {% else %}
                no build available
            {% endif %}
        </li>
    </ul>
    <hr>
    <h2>Outstanding builds</h2>
    <table>
        <thead>
            <th>Build</th>
            <th>Node</th>
        </thead>
        {% for build in outstanding_build_list %}
        <tr>
            <td><a href="{% url builds_detail build.pk %}">
                Build {{ build.pk }}</a></td>
            <td>{{ build.node }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr />
    <h2>Finished and running builds</h2>
    <table>
        <thead>
            <th>Build</th>
            <!--><th>Started</th>-->
            <th>Finished</th>
            <th>Node</th>
            <th>Result</th>
        </thead>
        {% autopaginate build_list %}
        {% for build in build_list %}
        <tr>
            <td><a href="{% url builds_detail build.pk %}">
                {{ build.node.name }}/{{ build.started }}/{{ build.state }}</a></td>
            <!--><td>{{ build.started }}</td>-->
            <td>{{ build.finished|timesince }}</td>
            <td>{{ build.node }}</td>
            <td class="{{ build.state_css_class }}-box">{{ build.state }}</td>
        </tr>
        {% endfor %}
    </table>
    {% paginate %}
{% endblock %}