{% extends "base.html" %}


{% block heading %}
Projects
{% endblock %}

{% block activities %}
<a class="button" href="{% url projects_create %}">Add new project</a>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <th>Project</th>
            <th>Last build</th>
            <th>Last stable build</th>
            <th>Current state</th>
        </thead>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url projects_detail object.pk %}">
                {{ object.name }}</a></td>
            <td>
                {% if object.last_build %}
                <a href="{% url builds_detail object.last_build.pk %}">
                    {{ object.last_build.started }}
                s</a>
                {% else %}
                    no build available
                {% endif %}
            </td>
            {% if object.last_stable_build %}
                <td>
                    <a href="{% url builds_detail object.last_stable_build.pk %}">
                        {{ object.last_stable_build.started }}
                    </a>
                </td>
                <td>
                    {{ object.last_stable_build.state }}
                </td>
            {% else %}
                <td>
                    no build available
                </td>
                <td>
                    unknown
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}